main {
    width: 80vw;
    margin: auto;
}

main div {
    padding: 4vh 0;
    text-align: center;
}

main h1 {
    font-weight: bold;
    font-size: 20px;
}

main img {
    width: 60vw;
    height: 30vw;
    padding: 2vw 0;
}

.formulario {
    text-align: left;
}

@media screen and (max-width: 500px) {
    main img {
        width: 80vw;
        height: 50vw;
        padding: 2vw 0;
    }
}