footer {
    background: #d50000;
    color: white;
    text-align: center;
    padding: 15px;
}

.img_footer {
    width: 6vw;
    margin: 0 auto;
}

.titulo_footer {
    font-weight: bold;
    border-top: 1px solid white;
    width: 90%;
    padding: 1vh 0;
    margin: 0 auto;
}

.links_footer img {
    width: 22px;
}

@media screen and (max-width: 500px) {
    .img_footer {
        width: 12vw;
        margin: 0 auto;
    }    
    
    .links_footer img {
        width: 25px;
        padding: 0 1px;
    }
}